PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-name>.mongodb.net/smart-product-assistant?retryWrites=true&w=majority
# OpenRouter Configuration
OPENROUTER_API_KEY=sk-or-v1-xxxxxxx
OPENROUTER_MODEL=deepseek/deepseek-chat-v3-0324:free
# Other available models at https://openrouter.ai/models